
 @font-face {
  font-family: 'Bahnschrift';
  src: url('/fonts/Bahnschrift.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
 }

/* @font-face {
  font-family: 'AirbnbCereal';
  src: url('/fonts/AirbnbCereal_W_Bd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
/* }
@font-face {
  font-family: 'AirbnbCereal';
  src: url('/fonts/AirbnbCereal_W_Bk.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('/fonts/AirbnbCereal_W_Blk.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('/fonts/AirbnbCereal_W_Lt.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('/fonts/AirbnbCereal_W_Md.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('/fonts/AirbnbCereal_W_XBd.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
} */ 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
  font-family: 'Bahnschrift', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffefd9;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bd8049;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #83311b;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #bd8049 #ffefd9;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffefd9;
    color: #ededed;
  }
}
